body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  background: black;
}

main {
  border: 1px solid red;
  min-height: 750px;
  display: flex;
}

footer {
  border: 1px solid red;
  height: 110px;
}

.header-ul {
  color: RGB(192, 199, 208);
  display: flex;
  justify-content: space-around;
  line-height: 70px;
  font-weight: bolder;
}

aside {
  width: 300px;
  font-style: italic;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.sign-in {
  width: 100%;
  height: 250px;
  color: white;
  background: RGB(245, 245, 245);
  border: 1px solid red;
}

.main-content {
  width: 1250px;
  height: 700px;
  border: 1px solid red;
  margin: 30px 40px 30px 50px;
}
